<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813939535972-d0q6tk88k60q096sj5dpu52b643opmh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813939535972-d0q6tk88k60q096sj5dpu52b643opmh0</string>
	<key>API_KEY</key>
	<string>AIzaSyChRwDI42x_R0O31NKMXPlpHgebDo7qno8</string>
	<key>GCM_SENDER_ID</key>
	<string>813939535972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qendresaqytetare.integritetizgjedhor</string>
	<key>PROJECT_ID</key>
	<string>integriteti-zgjedhor-3b49c</string>
	<key>STORAGE_BUCKET</key>
	<string>integriteti-zgjedhor-3b49c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813939535972:ios:53ef75c6a530daabb82f71</string>
</dict>
</plist>